.book-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .book-cover {
    max-width: 200px;
    height: auto;
    margin-right: 20px;
  }
  
  .book-info {
    text-align: left;
  }
  
  .book-info h2 {
    margin-top: 0;
  }
  
  .book-info p {
    margin: 5px 0;
  }
  
  .book-info button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .book-info button:hover {
    background-color: #0056b3;
  }